<!doctype html>  <!-- 声明文档类型-->
<html>
<head>
    <!--声明当前页面的编码集：charset=gbk,gb2312(中文编码),utf-8国际编码-->
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>HTMl模板</title>
    <meta name="Keyword" content="关键词,关键词">
    <meta name="description" content="描述">
    <!--样式-->
    <style type='text/css'>
        *{margin:0; padding:0;}
        ul{list-style:none;}
        a{text-decoration:none;}
        .fl{float:left;}
        .fr{float:right;}
        .clearfix:after{content:""; display:block; clear:both;}

    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>这里是用户管理界面</h1>
    <form action="/admin/user" method="post">
        <% for(var i in data) {%>
            用户名：<%= data[i]['user'] %>
            身份： <%= data[i]['admin'] %>
            删除：<input type="radio" value="<%= data[i]['id']%>" name="id"><br>
        <% } %>
        <a href="/admin/user/updateuser?id= <%= data[i]['id']%> "></a>
        <input type="submit">
    </form>
    <%= data %>
    
<script type="text/javascript">


</script>

</body>
</html>